libcurl.dll
libeay32.dll
libFLAC-8.dll
libfreetype-6.dll
libidn-11.dll
libjpeg-9.dll
libmodplug-1.dll
libogg-0.dll
libpng16-16.dll
librtmp.dll
libSGSDL2.dll
libSGSDL2.dll.a
libssh2.dll
libtiff-5.dll
libvorbis-0.dll
libvorbisfile-3.dll
libwebp-4.dll
smpeg2.dll
ssleay32.dll
zlib1.dll
libmikmod-2.dll
