Dist
Generated
CoreSDK/bin
CoreSDK/out.log
CoreSDK/Trace.log
CoreSDK/trace.gdb
.DS_Store
.*~
*.pyc
*.swp
/Templates/**/bin
/Templates/**/temp
/Templates/**/*.log
*.out
*.a
*.gch
*.so
*.swo
tags
.ycm_extra_conf.py
